.nav-header {
    background-color: #1890ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    font-size: 1.4rem;
    transition: color 0.3s ease-in-out;
    font-family: 'Freckle Face', cursive;
    animation: flow infinite 3s;
}

@keyframes flow {
    0% {
        text-shadow: 0 0 5px #000;
    }

    50% {
        text-shadow: 0 0 5px #fff;
    }

    100% {
        text-shadow: 0 0 5px #000;
    }
}